<div class="d-flex justify-content-center mt-4" *ngIf="token && email">
    <div class="col-12 col-lg-5">
        <main class="form-signin">
            <form [formGroup]="resetPasswordForm" class="form-signin" (ngSubmit)="resetPassword()" autocomplete="off">
                <span style="
                font-family: Roboto;
                font-size: 18px;
                font-weight: 500;
                line-height: 27px;
                text-align: left;
                color: #322F2F;
                margin-bottom: 1rem;
                ">Want to Create a Secure Password?</span>
                <ul style="
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                color: #656565;
                padding-left: 1.5rem;
                ">
                    <li>Use at least 8 characters</li>
                    <li>Use a mix of letters, numbers, and special characters (e.g: % # $ ! )</li>
                </ul>
                <div class="form-floating mb-3">
                    <input formControlName="email" type="text" placeholder="Email" class="form-control">
                    <label for="email">Email</label>
                </div>

                <div class="form-floating mb-3">
                    <input formControlName="newPassword" type="password" placeholder="New Password" class="form-control"
                        [class.is-invalid]="submitted && resetPasswordForm.get('newPassword')?.errors">
                    <label for="newPassword">New Password</label>
                    <span class="text-danger"
                        *ngIf="submitted && resetPasswordForm.get('newPassword')?.hasError('required')">
                        New Password is required
                    </span>
                    <span class="text-danger"
                        *ngIf="submitted && 
                        resetPasswordForm.get('newPassword')?.hasError('minlength') || resetPasswordForm.get('newPassword')?.hasError('maxlength')">
                        New Password must be at least 6, and maximum 15 characters
                    </span>
                </div>
                <!-- Add confirmation input field -->
                <div class="form-floating mb-3">
                    <input formControlName="confirmPassword" type="password" placeholder="Confirm New Password" class="form-control"
                        [class.is-invalid]="submitted && resetPasswordForm.get('confirmPassword')?.errors">
                    <label for="confirmPassword">Confirm New Password</label>
                    <span class="text-danger"
                        *ngIf="submitted && resetPasswordForm.get('confirmPassword')?.hasError('required')">
                        Confirmation Password is required
                    </span>
                    <span class="text-danger"
                        *ngIf="submitted && resetPasswordForm.get('confirmPassword')?.hasError('minlength') || resetPasswordForm.get('confirmPassword')?.hasError('maxlength')">
                        Confirmation Password must be at least 6, and maximum 15 characters
                    </span>
                    <span class="text-danger"
                        *ngIf="resetPasswordForm.hasError('passwordMismatch')">
                        Passwords do not match
                    </span>
                </div>
                <div class="row mt-1">
                    <div class="col d-flex justify-content-center">
                        <button style="border: none;background-color: #2A9115; color: #F8F9F8;
                            border-radius: 15px;
                            font-family: Roboto;
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 30px;
                            text-align: center;
                            width: 70%;
                            aspect-ratio: 7.48 / 1;
                            " type="submit">
                            Change Password</button>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>
