<div class="container">
    <div class="row p-3">
        <section>
            <div class="row">
                <div class="col-md-6">
                    <div style="font-size: 32px;">Crafting Connections</div>
                    <div class="mt-5" style="font-size: 20px;">At Ta'am Beit, our mission goes beyond delivering meals; it's about crafting connections through the language of flavors. We believe that every dish tells a story, and we're on a quest to bring those stories to your table.</div>
                </div>
                <div class="col-md-6">
                    <img class="p-3" src="/assets/images/Hands.png" alt=".." style="width: 100%;height: 508px;object-fit: cover; border-radius: 10px;">
                </div>
            </div>
        </section>

        <section>
            <div class="row p-5">
                <div class="fw-bold" style="font-size: 32px;">Our Core Mission:</div>
                <div class="row justify-content-around d-flex">
                <div class="col">
                        <div class="fw-bold mt-5" style="font-size: 24px;">Supporting Small</div>
                        <div class="mt-5" style="font-size: 20px;">Central to our mission is the support and celebration of local culinary talent. Each chef on our platform is a skilled artisan, passionate about sharing their unique creations with you.</div>
                </div>
                <div class="col">
                    <div class="fw-bold mt-5" style="font-size: 24px;">Exploring Flavorful Horizons</div>
                    <div class="mt-5" style="font-size: 20px;">We are committed to exploring the diverse horizons of home-cooked delights. From local favorites to global cuisines, we curate a menu that reflects the richness of culinary traditions.</div>
                </div>
                <div class="col">
                    <div class="fw-bold mt-5" style="font-size: 24px;">Creating Lasting Connections</div>
                    <div class="mt-5" style="font-size: 20px;">Food has the incredible power to create lasting connections. Our mission is to facilitate those connections—between chefs and customers, between cultures, and between the moments that matter.</div>
                </div>
            </div>
        </div>
        </section>
        
        <section>
            <img class="mt-3" src="/assets/images/knife.png" alt=".." style="width: 100%; height: 446px; object-fit: cover; border-radius: 10px;">
        </section>

        <section>
            <div class="row p-5">
                <div class="col-md-6">
                    <div style="font-size: 32px;">Safety First</div>
                    <div class="mt-5" style="font-size: 20px;">At Ta'am Beit, we prioritize your well-being. Every chef joining our platform undergoes a rigorous certification process, obtaining a safety card from the Ministry of Health. This commitment ensures the highest standards of hygiene, reinforcing our dedication to providing you with a safe, happy, and seamless culinary experience.</div>
                </div>
                <div class="col-md-6">
                    <img class="p-3" src="/assets/images/cutting.png" alt=".." style="width: 100%; height: 436px;object-fit: cover;border-radius: 10px;">
                </div>
            </div>
        </section>

        <section>
            <div style="font-size: 32px;">Our Story</div>
            <div class="mt-5" style="font-size: 20px;">At Ta'am Beit, our journey began with a simple love for food and a passion for sharing it with others. Our website was born out of a desire to create a space where food enthusiasts of all levels could come together to explore, learn, and celebrate the art of cooking.
                <p class="mt-2">Our mission is to make cooking accessible, enjoyable, and fulfilling for everyone. We believe that good food brings people together, and our goal is to provide the tools and resources needed to create delicious meals and unforgettable memories. Whether you're a novice cook or a culinary expert, we strive to be your go-to source for all things food.
                </p>
                <p>As we continue to evolve, our commitment remains the same: to inspire and empower you in the kitchen. We are constantly innovating and expanding our offerings to ensure that Ta'am Beit remains a trusted and beloved resource for all your culinary adventures.</p>
            </div>
        </section>




















    </div>
</div>