<div class="orders w-100 vh-10 mt-1" style="margin: 0; width: 95% !important; background-color:#FDFFFC">
    <div class="tab-content " id="pills-tabContent">
        <h1>My Orders</h1>
        <div class="page-orders d-flex">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active btn-orders" id="pills-Orders-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-Orders" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">All Orders</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-orders" id="pills-Pending-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-Pending" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false">Pending</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-orders" id="pills-ongoing-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-ongoing" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">ongoing</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-orders" id="pills-Cancelled-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-Cancelled" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">Cancelled</button>
                </li>
            </ul>

            <div class="div-two  col-6" style="right: -185px; position: relative;">
                <input class="search-orders d-flex;  margin:auto" type="text" id="searchInput" placeholder="Search">
                <img id="searchIcon" src="../../../../assets/svg images/search-normal.svg" alt="">
            </div>
        </div>

        <div class="tab-pane fade show active rounded-3 shadow-sm" id="pills-Orders" role="tabpanel"
            aria-labelledby="pills-Orders-tab">

            <div class="table-orders pt-1 w-100 text-center">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Name</th>
                            <th>Topping</th>
                            <th>Side Dish</th>
                            <th>Estimated time</th>
                            <th>Quantity</th>
                            <th>Note From customer</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody class="table-body-line">
                        <tr>
                            <td scope="row"><img src="../../../../assets/images/add-meal-chef.png"alt=""></td>
                            <td>Pancake</td>
                            <td>Maple Syrup</td>
                            <td>Coffee</td>
                            <td>10 mins</td>
                            <td>12</td>
                            <td>زود شطه</td>
                            <td class="price-color">300 EGP
                                <div class="button-row d-flex">
                                    <button class="btn btn-refuse" >Refuse</button>
                                    <button class="btn btn-accept" >Accept</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row"><img src="../../../../assets/images/add-meal-chef.png"alt=""></td>
                            <td>Pancake</td>
                            <td>Maple Syrup</td>
                            <td>Coffee</td>
                            <td>10 mins</td>
                            <td>12</td>
                            <td>زود شطه</td>
                            <td class="price-color">300 EGP
                                <div class="button-row d-flex">
                                    <button class="btn btn-refuse" >Refuse</button>
                                    <button class="btn btn-accept" >Accept</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row"><img src="../../../../assets/images/add-meal-chef.png"alt=""></td>
                            <td>Pancake</td>
                            <td>Maple Syrup</td>
                            <td>Coffee</td>
                            <td>10 mins</td>
                            <td>12</td>
                            <td>زود شطه</td>
                            <td class="price-color">300 EGP
                                <div class="button-row d-flex">
                                    <button class="btn btn-refuse" >Refuse</button>
                                    <button class="btn btn-accept" >Accept</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row"><img src="../../../../assets/images/add-meal-chef.png"alt=""></td>
                            <td>Pancake</td>
                            <td>Maple Syrup</td>
                            <td>Coffee</td>
                            <td>10 mins</td>
                            <td>12</td>
                            <td>زود شطه</td>
                            <td class="price-color">300 EGP
                                <div class="button-row d-flex">
                                    <button class="btn btn-refuse" >Refuse</button>
                                    <button class="btn btn-accept" >Accept</button>
                                </div>
                            </td>
                        </tr>
                     
                      
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-Pending" role="tabpanel" aria-labelledby="pills-Pending-tab">
            <div class="table-orders pt-1 w-100 text-center">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Name</th>
                            <th>Topping</th>
                            <th>Side Dish</th>
                            <th>Estimated time</th>
                            <th>Quantity</th>
                            <th>Note From customer</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody class="table-body-line">
                        <tr>
                            <td scope="row"><img src="../../../../assets/images/add-meal-chef.png"alt=""></td>
                            <td>Pancake</td>
                            <td>Maple Syrup</td>
                            <td>Coffee</td>
                            <td>10 mins</td>
                            <td>12</td>
                            <td>زود شطه</td>
                            <td class="price-color">300 EGP
                                <div class="button-row d-flex">
                                    <button class="btn btn-refuse" >Refuse</button>
                                    <button class="btn btn-accept" >Accept</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row"><img src="../../../../assets/images/add-meal-chef.png"alt=""></td>
                            <td>Pancake</td>
                            <td>Maple Syrup</td>
                            <td>Coffee</td>
                            <td>10 mins</td>
                            <td>12</td>
                            <td>زود شطه</td>
                            <td class="price-color">300 EGP
                                <div class="button-row d-flex">
                                    <button class="btn btn-refuse" >Refuse</button>
                                    <button class="btn btn-accept" >Accept</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row"><img src="../../../../assets/images/add-meal-chef.png"alt=""></td>
                            <td>Pancake</td>
                            <td>Maple Syrup</td>
                            <td>Coffee</td>
                            <td>10 mins</td>
                            <td>12</td>
                            <td>زود شطه</td>
                            <td class="price-color">300 EGP
                                <div class="button-row d-flex">
                                    <button class="btn btn-refuse" >Refuse</button>
                                    <button class="btn btn-accept" >Accept</button>
                                </div>
                            </td>
                        </tr>
                     
                      
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-ongoing" role="tabpanel" aria-labelledby="pills-ongoing-tab">
            <div class="table-orders pt-1 w-100 text-center">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Name</th>
                            <th>Topping</th>
                            <th>Side Dish</th>
                            <th>Estimated time</th>
                            <th>Quantity</th>
                            <th>Note From customer</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody class="table-body-line">
                        <tr>
                            <td scope="row"><img src="../../../../assets/images/add-meal-chef.png"alt=""></td>
                            <td>Pancake</td>
                            <td>Maple Syrup</td>
                            <td>Coffee</td>
                            <td>10 mins</td>
                            <td>12</td>
                            <td>زود شطه</td>
                            <td class="price-color">300 EGP
                                <div class="button-row d-flex">
                                    <button class="btn btn-refuse" >Refuse</button>
                                    <button class="btn btn-accept" >Accept</button>
                                </div>
                            </td>
                        </tr>
                      
                        <tr>
                            <td scope="row"><img src="../../../../assets/images/add-meal-chef.png"alt=""></td>
                            <td>Pancake</td>
                            <td>Maple Syrup</td>
                            <td>Coffee</td>
                            <td>10 mins</td>
                            <td>12</td>
                            <td>زود شطه</td>
                            <td class="price-color">300 EGP
                                <div class="button-row d-flex">
                                    <button class="btn btn-refuse" >Refuse</button>
                                    <button class="btn btn-accept" >Accept</button>
                                </div>
                            </td>
                        </tr>
                      
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-Cancelled" role="tabpanel" aria-labelledby="pills-Cancelled-tab">
            <div class="table-orders pt-1 w-100 text-center">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Name</th>
                            <th>Topping</th>
                            <th>Side Dish</th>
                            <th>Estimated time</th>
                            <th>Quantity</th>
                            <th>Note From customer</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody class="table-body-line">
                        <tr>
                            <td scope="row"><img src="../../../../assets/images/add-meal-chef.png"alt=""></td>
                            <td>Pancake</td>
                            <td>Maple Syrup</td>
                            <td>Coffee</td>
                            <td>10 mins</td>
                            <td>12</td>
                            <td>زود شطه</td>
                            <td class="price-color">300 EGP
                                <div class="button-row d-flex">
                                    <button class="btn btn-refuse" >Refuse</button>
                                    <button class="btn btn-accept" >Accept</button>
                                </div>
                            </td>
                        </tr>
                      
                     
                      
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>