.category-box {
  width: 202px;
  height: 136px;
  top: 61px;
  left: 288px;
  margin: 10px;
}

.gfg {
  /* position: sticky !important; */
  top: 10px !important;
  /* Adjust this value to control the distance from the top of the viewport */
}

.form-check-label {
  color: #656565;
}


.form-check-input {
  width: 16px;
  height: 16px;
  border: 0.15rem solid rgba(120, 120, 120, 0.700);
}

.form-check-input:checked {
  background-color: #31AC18;
  border: 0.15rem solid rgba(120, 120, 120, 0.500);
}

.form-check-input:focus {
  box-shadow: none;
}

.accordion-item {
  border: #31AC18 0.14rem solid;
}

.accordion-button {
  color: #31AC18;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
  border-color: white;
  color: #31AC18;
}

.accordion-button:hover {
  background-color: white;
  border-color: white;
}

.accordion-button:not(.collapsed) {
  background-color: white;
  box-shadow: none;
  color: #31AC18;
}

::ng-deep .mdc-checkbox__checkmark {
  color: white !important;
}

.box-style-option {
  border-radius: 10px;
  box-shadow: 1px 1px 9.6px 0px rgba(49, 172, 24, 0.2);
  aspect-ratio: 1 / 1;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(50, 47, 47, 1);
  cursor: pointer;
  padding: 0;
  margin: 10px;
  transition-duration: 0.4s;
  /* transition: all 0.5s ease-out; */
}

.box-style-option img {
  border-radius: 10px 10px 0px 0px;
  aspect-ratio: 4 / 3;
  height: 75%;
  width: 100%;
  object-fit: cover;
  padding: 0px;
}
.box-style-option:hover {
  /* background-color: #ffcccc;
  width: 200px;
  height: 200px;
  rotate: 180deg; */
  transition-duration: 0.1s;
  /* background-color: #3A3A3A; */
  box-shadow: 2px 2px 20px 0px rgba(49, 172, 24, 0.2);
}

.box-style-option:active {
  /* box-shadow: 0 0 0 0 white; */
  box-shadow: 3px 3px 30px 0px rgba(49, 172, 24, 0.2);

}

.box-style-option div{
  margin-left: .6rem !important;
  margin-top: .4rem !important;
}

.active-box-style-option{
  background-color: rgba(234, 247, 232, 1);
  box-shadow: 3px 3px 30px 0px rgba(49, 172, 24, 0.2) !important;
}