.btnColor{
    width: 306px;
    height: 56px;
    background-color: #2A9115;
    color: #F8F9F8;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
 
}

.container{
    background-color: #f8f9f8;
}