body{
    margin-top:20px;
}

.container{
    background: #F8F9F8;
}

#avatar {
    width: 192px;
    height: 165px;
    top: 24px;
    padding: 0px;
    left: 16px;
    border-radius: 20px;
    gap: 10px;
}

#square{
    border-radius: 10px;
    padding: 20px;
    flex-direction: row;
    box-shadow: 1px 1px 9.6px 0px rgba(49, 172, 24, 0.2);

}

#square2{
    border-radius: 10px;
    padding: 20px;
    flex-direction: row;
    box-shadow: 1px 1px 9.6px 0px rgba(49, 172, 24, 0.2);

}

#diff1{
    color: black;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
}

#diff2{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0em;
}

#diff3{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    color: #31AC18;
}

#prome{
    top: 261px;
    left: 16px;
    padding: 0px, 0px, 0px, 16px;
    border-radius: 10px ;
    border: 1px g;
}

.input-p{
    position: relative;
}

.btn-p{
    position: absolute;
    right: 0;
    top: 0;
}

#Cbox{
    width: 16px;
    height: 16px;
    border-radius: 2px ;
    border: 1px #31AC18;
}

.card{
    flex-direction: row;
}

.btn-outline-success{
    --bs-btn-hover-color:black !important;
    --bs-btn-active-color: black !important;
    --bs-btn-active-bg: #9EE392 !important;
}

label{
    color: gray;
}

span {cursor:pointer; }

.minus, .plus{
	width: 18.66px;
    height: 25.52px;
	background:#f2f2f2;
	border-radius:8px;
	border:1px solid #31AC18;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

/* input{
	width: 71px;
    height: 35px;
    font-size: 16.76px;
	border:1px solid #31AC18;
	border-radius:10px;
    display: inline-block;
} */

.vlue{
    text-align: center;
}

td , th{
    padding: 10px;
    margin: auto;
    border: none;
}

.custom-search {
    position: relative;
    height: 50px;
}
.custom-search-input {
    padding-left: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    height: 48px;
}
.custom-search-botton {
    width: 83px;
    position: absolute;
    right: 0px; 
    top: 0px;
    bottom: 2px;
    border: 0;
    background: #2A9115;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 10px;
    z-index: 2;
}

#customize{
    width: 82px;
    height: 38px;
}
#customize1{
    height: 38px;
}
#customize2{
    width: 85px;
    height: 38px;
}

#button-addon2{
    height: 48px;
    border-radius: 9px;
}


.font-size-18 {
    font-size: 18px!important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::ng-deep .mat-horizontal-stepper-header-container .mat-step-header{
    border-radius: 10px;
    margin-bottom: 0px;
}

body{
    margin-top:20px;
    background-color: #f1f3f7;
}

.avatar-lg {
    height: 5rem;
    width: 5rem;
}

.font-size-18 {
    font-size: 18px!important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    text-decoration: none!important;
}

.w-xl {
    min-width: 160px;
}

.card {
    margin-bottom: 24px;
    -webkit-box-shadow: 0 2px 3px #e4e8f0;
    box-shadow: 0 2px 3px #e4e8f0;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eff0f2;
    border-radius: 1rem;
}

#cont{
border-radius: 10px;
padding: 20px;
box-shadow: 0 0 0 1px rgb(0,0,0,0.1),
            0 5px 12px -2px rgb(0,0,0,0.1),
            0 18px 36px -6px rgb(0,0,0,0.1);
}


#F-n{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: #656565;
}

#diff{
    color: #31AC18;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
}


#subTfont{
    family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
}

#card{
    width: 500px;
    height: 200px;
    top: 24px;
    left: 294px;
    border-radius: 5px, 0px, 0px, 5px;
}

#mastercard{
    width: 50px;
    height: auto;
}

#cash{
    width:55px;
}

#visa{
    width: 55px;
}

#cont1{
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 0 1px rgb(0,0,0,0.1),
                0 5px 12px -2px rgb(0,0,0,0.1),
                0 18px 36px -6px rgb(0,0,0,0.1);       
}

#method{
    height: 56px;
    padding: 16px, 20px, 16px, 16px;
    border-radius: 8px;
    border: 1px g;
    gap: 24px;
}

#method1{
    height: 56px;
    padding: 16px, 10px, 16px, 16px;
    border-radius: 8px;
    border: 1px g;
    gap: 24px;
}

#nextBtn{
    justify-content: center;
    width: 391px;
    height: 51px;
    top: 812px;
    left: 524px;
    padding: 14px, 0px, 13px, 0px;
    border-radius: 10px;
    background-color: #31AC18;
}

#cont2{
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 0 1px rgb(0,0,0,0.1),
                0 5px 12px -2px rgb(0,0,0,0.1),
                0 18px 36px -6px rgb(0,0,0,0.1);
    justify-content: center;
}
  .btn-outline-success{
    --bs-btn-hover-color:black !important;
    --bs-btn-active-color: black !important;
    --bs-btn-active-bg: #9EE392 !important;
  }
  label{
    color: gray;
  }
  .d-flex .btn-success{
    background: #31AC18;
    border: none;
  }
  .payment-step-background{
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
    background: rgba(253, 255, 252, 1);
    border-radius: 10px;
  }
  @media screen and (min-width: 992px) {
    .ps-4 {
      padding-left: 1.5rem !important;
    }
  }
  
  /* Styles for screens narrower than 992px */
  @media screen and (max-width: 991px) {
    .ps-4 {
        padding-left: calc(var(--bs-gutter-x) * .5) !important;
    }
    .ps-3{
        padding-left: 0px !important;
    }
    .pe-3{
        padding-right: 0px !important;
    }
  }