<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
    integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="container">


    <!-- <mat-stepper orientation="vertical">
        <mat-step state="home">
          <ng-template matStepLabel>Step 1</ng-template>
          <ng-template matStepContent>
            <p>This content was rendered lazily</p>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step state="form">
          <ng-template matStepLabel>Step 2</ng-template>
          <ng-template matStepContent>
            <p>This content was also rendered lazily</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step state="last">
          <ng-template matStepLabel>Step 3</ng-template>
          <p>This content was rendered eagerly</p>
          <button mat-button matStepperPrevious>Back</button>
        </mat-step>
      
        changed step icons -->
    <!-- <ng-template matStepperIcon="edit" let-index="index">
        <ng-container [ngSwitch]="index">
            <mat-icon *ngSwitchCase="0">home</mat-icon>
            <mat-icon *ngSwitchCase="1">format_align_center</mat-icon>
            <mat-icon *ngSwitchCase="2">done_all</mat-icon>
        </ng-container>
        </ng-template>
        <ng-template matStepperIcon="done" let-index="index">
        <ng-container [ngSwitch]="index">
            <mat-icon *ngSwitchCase="0">home</mat-icon>
            <mat-icon *ngSwitchCase="1">format_align_center</mat-icon>
            <mat-icon *ngSwitchCase="2">done_all</mat-icon>
        </ng-container>
        </ng-template>
      </mat-stepper> -->


    <mat-stepper class="example-stepper" [linear]="true" labelPosition="bottom">

        <ng-template matStepperIcon="cart">
            <mat-icon>shopping_cart_checkout</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="shipping-info">
            <mat-icon>person_pin</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="payment-method">
            <mat-icon>credit_card</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="review-order">
            <mat-icon>menu-book</mat-icon>
        </ng-template>

        <mat-step [optional]="true" label="Checkout" state="cart">
            <ng-template matStepContent>
                <div class="row">
                    <div class="col-xl-8">

                        <div class="row">
                            <div class="col">
                                <h6 class="text-dark"><input type="checkbox" class="mx-2" id="Cbox"> Select All</h6>
                            </div>
                            <div class="col">
                                <h6 class="text-dark text-end">
                                    <div class="list-inline-item">
                                        <a href="#" class="text-muted px-1">
                                            <i class="mdi mdi-trash-can-outline"></i>
                                        </a>
                                    </div>Delete
                                </h6>
                            </div>
                        </div>

                        @for (cartItem of mealOptions; track cartItem) {
                        <!--First card-->
                        <div class="row my-2" id="square">
                            <img [src]="cartItem.image" id="avatar">
                            <div class="col">
                                <div class="d-flex justify-content-between align-content-center">
                                    <h5 class="text-dark">{{cartItem.title}} (M)</h5>
                                    <h5 style="color: #31AC18;">{{cartItem.price}} EGP</h5>
                                </div>

                                <div class="d-flex justify-content-between align-content-center my-1 ">
                                    <div class="button-container d-flex justify-content-start">
                                        <input
                                        [id]="cartItem.mealOptionID"
                                          type="radio" class="btn-check">
                                        <label class="btn btn-outline-success fixed-size p-1 me-1"
                                          [for]="cartItem.mealOptionID">
                                          Small
                                        </label>
                                
                                        <input
                                        [id]="cartItem.mealOptionID"
                                          type="radio" class="btn-check">
                                        <label class="btn btn-outline-success fixed-size p-1 me-1"
                                          [for]="cartItem.mealOptionID">                                          Medium
                                        </label>
                                
                                        <input
                                        [id]="cartItem.mealOptionID"
                                          type="radio" class="btn-check">
                                        <label class="btn btn-outline-success fixed-size p-1 me-1"
                                          [for]="cartItem.mealOptionID">                                          Large
                                        </label>
                                      </div>
                                    <div class=" justify-content-between align-content-center ">
                                        <span class="minus">-</span>
                                        <input type="text" class="vlue" value="1" />
                                        <span class="plus">+</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-content-center">
                                    <div class="list-inline-item mt-4">
                                        <a href="#" class="text-muted">
                                            <div class="mdi mdi-heart-outline"><span class="px-1">Add to
                                                    favourite</span></div>
                                        </a>
                                    </div>
                                    <div class="list-inline-item">
                                        <a href="#" class="text-muted px-1">
                                            <div class="mdi mdi-trash-can-outline d-flex justify-content-end"><span
                                                    class="px-1">Delete</span></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                        <!--Second card-->
                        <div class="row my-3" id="square">
                            <img src="/assets/images/pizza.jpeg" id="avatar">
                            <div class="col">
                                <div class="d-flex justify-content-between align-content-center">
                                    <h5 class="text-dark">Pizza (L)</h5>
                                    <h5 style="color: #31AC18;">100 EGP</h5>
                                </div>

                                <div class="d-flex justify-content-between align-content-center">
                                    <div>
                                        <label class="btn btn-outline-success fixed-size mx-1" (mouseover)="(0)"
                                            [for]="[0] ? [0] : 'option-0'" id="customize" style="line-height: 26px;">
                                            Small
                                        </label>
                                        <label class="btn btn-outline-success fixed-size  mx-1" (mouseover)="(0)"
                                            [for]="[0] ? [0] : 'option-0'" id="customize">
                                            Medium
                                        </label>
                                        <label class="btn btn-outline-success fixed-size mx-1" (mouseover)="(0)"
                                            [for]="[0] ? [0] : 'option-0'" id="customize">
                                            Large
                                        </label>
                                    </div>
                                    <div class=" justify-content-between align-content-center ">
                                        <span class="minus">-</span>
                                        <input type="text" class="vlue" value="1" />
                                        <span class="plus">+</span>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between align-content-center">
                                    <div class="list-inline-item mt-4">
                                        <a href="#" class="text-muted">
                                            <div class="mdi mdi-heart-outline"><span class="px-14">Add to
                                                    favourite</span></div>
                                        </a>
                                    </div>

                                    <div class="list-inline-item">
                                        <a href="#" class="text-muted px-1">
                                            <div class="mdi mdi-trash-can-outline d-flex justify-content-end"><span
                                                    class="px-1">Delete</span></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->



                        <div class="row my-4">
                            <div class="col-sm-6">
                                <a href="ecommerce-products.html" class="btn btn-link text-muted">
                                    <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping </a>
                            </div> <!-- end col -->
                            <div class="col-sm-6">
                                <div class="text-sm-end mt-2 mt-sm-0">
                                    <a href="ecommerce-checkout.html" class="btn btn-success">
                                        <i class="mdi mdi-cart-outline me-1"></i> Checkout </a>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row-->
                    </div>

                    <!--order suammry-->
                    <div class="col-xl-4 mt-5">
                        <div class="mt-5 mt-lg-0" id="square2">
                            <h5 text-dark>Order summary</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td colspan="2">Pizza(M) x2</td>

                                        <td class="text-end" id="F-n">200 EGP</td>

                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td colspan="2">Pizza(L)</td>
                                        <td class="text-end" id="F-n">300 EGP</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td colspan="2">Delivery fee</td>
                                        <td class="text-end" id="F-n">20 EGP</td>

                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td colspan="2">Subtotal</td>
                                        <td class="text-end" id="diff1">300 EGP</td>
                                    </tr>

                                </tbody>
                            </table>

                            <div class="custom-search">
                                <input type="text" class="custom-search-input" placeholder="Promocode">
                                <button class="custom-search-botton" type="submit">Apply</button>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <p class="my-2" style="margin-left: 35px;" id="diff2">Subtotal</p>
                                </div>
                                <div class="col my-2">
                                    <p class="text-end" id="diff3">250 EGP</p>
                                </div>
                                <button type="button" class="btn"
                                    style="background-color: #31AC18; color:#FDFFFC; width: 391px;height: 51px; border-radius: 10px;">Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row --> <!-- end row -->
            </ng-template>
        </mat-step>
        <mat-step label="Shipping information" state="shipping-info">
            <ng-template matStepContent>
                <div class="row">

                    <div class="col-12 container p-4" style="background-color: #FDFFFC; border: 1px solid #0C0B0B1C; border-radius: 8px;
                        max-width: 869px;">
                        <div class="row" style="font-family: Roboto;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: left;
                    ">
                            <div class="col pb-3 pt-4">
                                Shopping Address
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <app-input [control]="firstName" type="text" placeholder="Hoda"
                                    label="First Name"></app-input>
                            </div>
                            <div class="col">
                                <app-input [control]="lastName" type="text" placeholder="Khaled"
                                    label="Last Name"></app-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <app-input [control]="phone" style="width: 100%;" type="number" prefix="01"
                                    format="0 0000 0000" label="Phone number"></app-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <app-select-input [control]="district" [optionSelected]="districtOptionSelected"
                                    type="text" placeholder="District" label="District"
                                    [options]="districts"></app-select-input>
                            </div>
                            <div class="col">
                                <app-select-input [control]="street" [optionSelected]="streetOptionSelected" type="text"
                                    placeholder="Street" label="Street" [options]="streets"></app-select-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <app-select-input [control]="building" [optionSelected]="buildingOptionSelected"
                                    type="text" placeholder="Building" label="Building"
                                    [options]="buildings"></app-select-input>
                            </div>
                            <div class="col">
                                <app-input [control]="floor" type="text" placeholder="Floor No"
                                    label="Floor No"></app-input>
                            </div>
                            <div class="col">
                                <app-input [control]="apartment" type="text" placeholder="Apartment No"
                                    label="Apartment No"></app-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <app-input [control]="deliveryNotes" type="text" placeholder="Notes for delivery"
                                    label="Notes for delivery"></app-input>
                            </div>
                        </div>
                        <div class="row container justify-content-center d-flex align-items-center">
                            <div class="col-auto d-flex align-items-center px-1">
                                <svg width="21" height="20" viewBox="0 0 21 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5.4987 16.6654V8.33203H15.4987V9.16536C16.082 9.16536 16.6404 9.2487 17.1654 9.40703V8.33203C17.1654 7.41536 16.4154 6.66536 15.4987 6.66536H14.6654V4.9987C14.6654 2.6987 12.7987 0.832031 10.4987 0.832031C8.1987 0.832031 6.33203 2.6987 6.33203 4.9987V6.66536H5.4987C4.58203 6.66536 3.83203 7.41536 3.83203 8.33203V16.6654C3.83203 17.582 4.58203 18.332 5.4987 18.332H10.7154C10.3654 17.832 10.0904 17.2654 9.90703 16.6654H5.4987ZM7.9987 4.9987C7.9987 3.61536 9.11536 2.4987 10.4987 2.4987C11.882 2.4987 12.9987 3.61536 12.9987 4.9987V6.66536H7.9987V4.9987Z"
                                        fill="#31AC18" />
                                    <path
                                        d="M15.4987 10.832C13.1987 10.832 11.332 12.6987 11.332 14.9987C11.332 17.2987 13.1987 19.1654 15.4987 19.1654C17.7987 19.1654 19.6654 17.2987 19.6654 14.9987C19.6654 12.6987 17.7987 10.832 15.4987 10.832ZM15.4987 12.4987C16.1904 12.4987 16.7487 13.057 16.7487 13.7487C16.7487 14.4404 16.1904 14.9987 15.4987 14.9987C14.807 14.9987 14.2487 14.4404 14.2487 13.7487C14.2487 13.057 14.807 12.4987 15.4987 12.4987ZM15.4987 17.4987C14.6404 17.4987 13.882 17.0654 13.432 16.3987C14.0404 16.0487 14.7404 15.832 15.4987 15.832C16.257 15.832 16.957 16.0487 17.5654 16.3987C17.1154 17.0654 16.357 17.4987 15.4987 17.4987Z"
                                        fill="#31AC18" />
                                </svg>
                            </div>
                            <div class="col-auto px-1" style="
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 17px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #31AC18;
                        ">
                                Security & Privacy
                            </div>
                        </div>
                        <div class="row container d-flex justify-content-center mt-3" style="font-family: Roboto;
                    font-size: 10px;
                    font-weight: 700;
                    line-height: 12px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #656565;
                    ">
                            <div class="col-auto pb-4">
                                We Maintain industry-Standard Physical ,Administration Measures To Safeguard Your
                                personal Information
                            </div>

                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center pt-5">
                        <button (click)="confirmOrder()" matStepperNext style="width: 391px; 
                    height: 51px;
                    padding: 14px 0px 13px 0px;
                    border-radius: 10px;
                    background: #31AC18;
                    border: 0;
                    border-style: none;
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: white;
                    ">Next</button>
                    </div>
                </div>
            </ng-template>
        </mat-step>
        <mat-step label="Payment method" state="payment-method">
            <ng-template matStepContent>
                <div class="container py-5">
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <div id="cont">
                                <h4>Order summary</h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row"></th>
                                            <td colspan="5">Pizza(M) x2</td>

                                            <td id="F-n">200</td>
                                            <td>EGP</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td colspan="5">Pizza(L)</td>
                                            <td id="F-n">300</td>
                                            <td>EGP</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td colspan="5">Delivery fee</td>
                                            <td id="F-n">20</td>
                                            <td>EGP</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td colspan="5">Promo code</td>
                                            <td id="F-n">-70</td>
                                            <td>EGP</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td colspan="5">Subtotal After Promo Code</td>
                                            <td id="diff">300</td>
                                            <td>EGP</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mt-4" id="cont1">
                                <h4>Payment method</h4>
                                <table>
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th scope="row"></th>
                                        <tr>
                                            <td><input type="radio" id="lang-1" name="lang" cvalues="HTML" class="radio"
                                                    checked></td>
                                            <td><img src="/assets/images/Mastercard.webp" id="mastercard"></td>
                                            <td><img src="/assets/images/visa.webp" id="visa" class="mx-2"></td>
                                            <td><img src="/assets/images/Paypal.jpg" id="mastercard"></td>
                                        </tr>
                                        <tr>
                                    </tbody>
                                </table>
                                <table>
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th scope="row"></th>
                                        <td><input type="radio" id="lang-1" name="lang" cvalues="HTML" class="radio"
                                                checked class="my-4"></td>
                                        <td><img src="/assets/images/cash.jpg" id="cash"></td>
                                        <td>Cash on delivery</td>
                                </table>
                            </div>
                        </div>
                        <iframe class="col-lg-8 col-md-12" id="cont2" [src]="iframeLink | safe">
                        </iframe>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mt-5 d-flex justify-content-center">
                            <button type="button" class="btn btn-success" id="nextBtn">Next</button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-step>
        <mat-step label="Review order" state="review-order">
            <ng-template matStepContent>
            </ng-template>
        </mat-step>
    </mat-stepper>

</div>