
<div class="class-sm-7">
  <div class="form-outline mt-3">

        <app-input [control]="searchText" type="text" label="Search" (keyup)="applyFilter()" ></app-input>

        <app-select-input [control]="category" label="Category" [options]="categoryOptions"></app-select-input>

        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)  "
  class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="title" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Title 
    </th>
    <td mat-cell   *matCellDef="let element">
      {{element.title}}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Category
    </th>
    <td mat-cell *matCellDef="let element">
      @switch (element.category) {
        @case (0) {
          Main Dish
        }
        @case (1) {
          Side Dish
        }
        @case (2) {
          Appetizer
        }
      }
    </td>
  </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="spiceLevel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Spice Level
      </th>
      <td mat-cell *matCellDef="let element">
        @switch (element.spiceLevel) {
          @case (0) {
            Not Spicy
          }
          @case (1) {
            Mild
          }
          @case (2) {
            Medium
          }
          @case (3) {
            Hot
          }
          @case (4) {
            Very Hot
          }
        }
      </td>
    </ng-container>

      <!-- Name Column -->
  <ng-container matColumnDef="totalSold">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Total Sold
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.totalSold}}
    </td>
  </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="isAvailable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Is Available
      </th>
      <td mat-cell *matCellDef="let element">
        @switch (element.isAvailable) {
          @case (true) {
            Yes
          }
          @case (false) {
            No
          }
        }
      </td>
    </ng-container>

  <!-- Rating Column -->
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Rating
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.rating}}
    </td>
  </ng-container>

  <ng-container matColumnDef="button">
    <th mat-header-cell *matHeaderCellDef>
      <!-- Button -->
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button routerLink="/meal/add-meal/{{element.id}}">Edit</button>
      <button mat-raised-button color="warn">Make Unavailable</button>
      <!-- {{element.id}} -->
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns ;"></tr>
</table>


  </div>
</div>