
.card {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    border-radius: 10px 10px 0 0;
  }
  .btn-group button {
    border-radius: 5px;
  }
 #card-text{
  color: gray;
 }
 .button-container .btn {
    margin: 0px;
    padding: 0px;
    line-height: none;
    border: 1px solid #31AC18;
    border-radius:10px;
    font-size: 13px;
    color: grey;
  }

  .btn-check:checked + .fixed-size {
    color: black;

  }

  .btn-check:disabled + .fixed-size {
    background-color: rgb(155, 149, 149);
    color: white;
    border: none;

  }

  .btn-check + .fixed-size {
    color: #656565;

  }

  .btn-outline-success{
    --bs-btn-hover-color:black !important;
    --bs-btn-active-color: black !important;
    --bs-btn-active-bg: #9EE392 !important;
  }
  label{
    color: gray;
  }
  /* label:hover{
    background-color: #9EE392 !important;
    color: black;
  } */

  /* label:checked{
    background-color: #9EE392;
    color: black;
  } */
  /* button{
    color: gray;
  } */
  .card-body .flexs{
    display: flex ;
    justify-content: space-between;
    align-items: center;
  }
   .card-body .flexs img{
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -84px;
    position: absolute;
    right: 17px;

  }
  .imd{
    position: relative;
  }
  .imd::before{
    content:'\f004' ;
    font-family: 'Font Awesome 6 Free';
    position: absolute;
    right: 13px;
    top: 0px;
    font-weight: 900;
    font-size: 20px;
  }
  .bef{
    border-radius: 10px;
  }
 .card:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transition: all 0.2s ease-in-out;
    background-color: #EAF7E8;
    ;
  }
  /* .button-container {
    size: 12px;
    line-height: 10px;
    } */

  #foodImage{
    animation: fadeIn 5s;
    animation: fadeOut 5s;
  }
  
  .fixed-size {
    width: 64px; 
    height: 30px; 
    text-align: center; 
    overflow: hidden; 
    white-space: nowrap; 
  }
  .card {
    width: 100%; 
    /* height: 200px;  */
    overflow: hidden; 
  }
  
  .card-img-top {
    width: 100%; 
    height: 160px; 
    object-fit: cover; 
  }
.chef-img {
  width: 50px; 
  height:50px; 
}

.d-flex .btn-success{
  background: #31AC18;
  border: none;
}
.d-flex button:active{
  background: #9EE392 !important;
  border: none;
}
  
  
  
  
  
