<div (click)="redirectToMeal($event, mealCardData.mealID)" class="card p-2" style="width: 18rem; margin: 15px; ">
  <div class="imd">
    <div class="card">
      <img id="foodImage" [src]="displayedImage" class="card-img-top bef" [alt]="mealCardData.title">
    </div>
    <div class="card-body p-0 mt-4">
      <div class="d-flex justify-content-between flexs">
        <div>
          <h5 class="card-title" style="font-weight: 700; font-family: Roboto;">{{mealCardData.title}}</h5>
          <p id="card-text" class="card-text" style="font-family: Roboto; font-weight: 400;">{{mealCardData.chiefName}}
          </p>
        </div>
        <div class="card2">
          <img [src]="mealCardData.chiefImage" class="chef-img" width="50px" height="50px">
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <p id="card-text" class="card-text mb-0"><span class="text-warning">&#9733;</span> <u>{{mealCardData.rating}}
            ({{mealCardData.reviewsCount}})</u></p>
      </div>
      <div class="mt-4 button-container d-flex justify-content-start">
        <input
          [disabled]="this.mealCardData.mealCardOptions[0] && this.mealCardData.mealCardOptions[0].IsAvailable ? false : true"
          [id]="this.mealCardData.mealCardOptions[0] ? this.mealCardData.mealCardOptions[0].mealOptionID : 'option-0'"
          type="radio" [name]="mealCardData.mealID" (click)="changeCurrentMealOption(0)" class="btn-check">
        <label class="btn btn-outline-success fixed-size p-1 me-1" (mouseover)="changeCurrentMealOption(0)"
          [for]="this.mealCardData.mealCardOptions[0] ? this.mealCardData.mealCardOptions[0].mealOptionID : 'option-0'">
          Small
        </label>

        <input
          [disabled]="this.mealCardData.mealCardOptions[1] && this.mealCardData.mealCardOptions[1].IsAvailable ? false : true"
          [id]="this.mealCardData.mealCardOptions[1] ? this.mealCardData.mealCardOptions[1].mealOptionID : 'option-1'"
          type="radio" [name]="mealCardData.mealID" (click)="changeCurrentMealOption(1)" class="btn-check">
        <label class="btn btn-outline-success fixed-size p-1 me-1" (mouseover)="changeCurrentMealOption(1)"
          [for]="this.mealCardData.mealCardOptions[1] ? this.mealCardData.mealCardOptions[1].mealOptionID : 'option-1'">
          Medium
        </label>

        <input
          [disabled]="this.mealCardData.mealCardOptions[2] && this.mealCardData.mealCardOptions[2].IsAvailable ? false : true"
          [id]="this.mealCardData.mealCardOptions[2] ? this.mealCardData.mealCardOptions[2].mealOptionID : 'option-2'"
          type="radio" [name]="mealCardData.mealID" (click)="changeCurrentMealOption(2)" class="btn-check">
        <label class="btn btn-outline-success fixed-size p-1 me-1" (mouseover)="changeCurrentMealOption(2)"
          [for]="this.mealCardData.mealCardOptions[2] ? this.mealCardData.mealCardOptions[2].mealOptionID : 'option-2'">
          Large
        </label>
      </div>
      <br>
      <div class="d-flex justify-content-between" ngbDropdown container="body">
        <button type="button" (click)="addToCart(currentMealOptionID)" class="btn btn-success" id="dropdownForm1" ngbDropdownToggle>+ Quick Add</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
          @for (mealSideDish of currentMealOption.mealSideDishes; track mealSideDish) {
            @if (mealSideDish.isTopping) {
              <div>Topping</div>
            }
            @else {
              <div>Side Dish</div>
            }
            @for (mealSideDishOption of mealSideDish.mealSideDishOptions; track mealSideDishOption) {
              <div>{{mealSideDishOption.name}} {{mealSideDishOption.price}} {{mealSideDishOption.quantity}}</div>
            }
          }
        </div>
        <span class="card-text" style="font-size: 24px"><b>EGP
            {{displayedPrice}}
          </b></span>
      </div>
    </div>
  </div>
</div>