<div (click)="redirectToMeal($event, mealCardData.mealID)" class="card p-2" style="width: 18rem; margin-top: 15px; ">
  <div class="imd">
    <div class="card">
      <img id="foodImage" [src]="displayedImage" class="card-img-top bef" [alt]="mealCardData.title">
    </div>
    <div class="card-body p-0 mt-4">
      <div class="d-flex justify-content-between flexs">
        <div>
          <h5 class="card-title" style="font-weight: 700; font-family: Roboto;">{{mealCardData.title}}</h5>
          <p (click)="redirectToChiefPage(mealCardData.chiefID)" id="card-text" class="card-text" style="font-family: Roboto; font-weight: 400; cursor: pointer;">{{mealCardData.chiefName}}
          </p>
        </div>
        <div class="card2">
          <img style="object-fit: cover;" [src]="mealCardData.chiefImage" class="chef-img">
        </div>
      </div>
      <div class="d-flex justify-content-between" >
        <p (click)="redirectToMealReview(mealCardData.mealID)" style="cursor: pointer;" id="card-text" class="card-text mb-0"><span class="text-warning">
          <svg style="margin-bottom: 3px; margin-right: 3px;" width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.19154 0.568099C6.52167 -0.100821 7.47554 -0.100828 7.80567 0.568099L9.37767 3.75325L12.8927 4.26401C13.6309 4.37127 13.9256 5.27847 13.3915 5.79913L10.8479 8.2784L11.4484 11.7793C11.5745 12.5145 10.8028 13.0751 10.1425 12.728L6.99861 11.0751L3.85469 12.728C3.19443 13.0751 2.42273 12.5145 2.54883 11.7793L3.14927 8.2784L0.605781 5.79913C0.0716147 5.27847 0.366375 4.37127 1.10457 4.26401L4.61959 3.75325L6.19154 0.568099Z" fill="#FA8232"/></svg> 
        </span> <u>{{mealCardData.rating}}
            ({{mealCardData.reviewsCount}})</u></p>
      </div>
      <div class="mt-4 button-container d-flex justify-content-start">
        <input
          [disabled]="this.mealCardData.mealCardOptions[0] && this.mealCardData.mealCardOptions[0].IsAvailable ? false : true"
          [id]="this.mealCardData.mealCardOptions[0] ? this.mealCardData.mealCardOptions[0].mealOptionID : 'option-0'"
          type="radio" [name]="mealCardData.mealID" (click)="changeCurrentMealOption(0)" class="btn-check">
        <label class="btn btn-outline-success fixed-size p-1 me-1" (mouseover)="changeCurrentMealOption(0)"
          [for]="this.mealCardData.mealCardOptions[0] ? this.mealCardData.mealCardOptions[0].mealOptionID : 'option-0'">
          Small
        </label>

        <input
          [disabled]="this.mealCardData.mealCardOptions[1] && this.mealCardData.mealCardOptions[1].IsAvailable ? false : true"
          [id]="this.mealCardData.mealCardOptions[1] ? this.mealCardData.mealCardOptions[1].mealOptionID : 'option-1'"
          type="radio" [name]="mealCardData.mealID" (click)="changeCurrentMealOption(1)" class="btn-check">
        <label class="btn btn-outline-success fixed-size p-1 me-1" (mouseover)="changeCurrentMealOption(1)"
          [for]="this.mealCardData.mealCardOptions[1] ? this.mealCardData.mealCardOptions[1].mealOptionID : 'option-1'">
          Medium
        </label>

        <input
          [disabled]="this.mealCardData.mealCardOptions[2] && this.mealCardData.mealCardOptions[2].IsAvailable ? false : true"
          [id]="this.mealCardData.mealCardOptions[2] ? this.mealCardData.mealCardOptions[2].mealOptionID : 'option-2'"
          type="radio" [name]="mealCardData.mealID" (click)="changeCurrentMealOption(2)" class="btn-check">
        <label class="btn btn-outline-success fixed-size p-1 me-1" (mouseover)="changeCurrentMealOption(2)"
          [for]="this.mealCardData.mealCardOptions[2] ? this.mealCardData.mealCardOptions[2].mealOptionID : 'option-2'">
          Large
        </label>
      </div>
      <br>
      <div class="d-flex justify-content-between" >
        <button type="button" (click)="addToCart(currentMealOption)" class="btn btn-success"
          >+ Quick Add</button>
        <span class="card-text" style="font-size: 24px"><b>EGP
            {{displayedPrice}}
          </b></span>
      </div>
    </div>
  </div>
</div>