<div class="container">
    <div class="row three-card">
        <div class="col-md-4 col-sm-6 div-wither shadow-lg">
            <div class="top-content">
                <p style="top: 100px;">Best Seller</p>
                <img src="../assets/svg images/meal-svgrepo-com (2) 1.svg" alt="">
                <div class="contain-card-info">
                    <div class="Strawberry">
                        <span style="font-size: 16px">Strawberry cake</span>
                    </div>
                    <div class="content-card">
                        <div class="div-content-center">
                            <div>
                                <span class="fw-bold" style="font-size: 24px; right: 20px;">145</span>
                                <span class="text-muted">sold</span>
                            </div>
                            <div>
                                <span style="margin: 22px;">+15.03%</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6  div-wither shadow-lg">
            <div class="top-content">
                <p style="top: 100px;">Menu Rate</p>
                <img src="../assets/svg images/star.svg" alt="">
                <div class="contain-card-info">
                    <div class="Strawberry">
                        <span style="font-size: 16px">num of rate</span>
                    </div>
                    <div class="content-card">
                        <div class="div-content-center">
                            <div>
                                <span class="fw-bold" style="font-size: 24px; right: 20px;">145</span>
                                <span class="text-muted">k</span>
                            </div>
                            <div>
                                <span style="margin: 22px;">+15.03%</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6  div-wither shadow-lg">
            <div class="top-content">
                <p style="top: 100px;">Revenue</p>
                <img src="../assets/svg images/money-recive.svg" alt="">
                <div class="contain-card-info">
                    <div class="Strawberry">
                        <span style="font-size: 16px">Income earned</span>
                    </div>
                    <div class="content-card">
                        <div class="div-content-center">
                            <div>
                                <span class="fw-bold" style="font-size: 24px; right: 20px;">145</span>
                                <span class="text-muted">EGP</span>
                            </div>
                            <div>
                                <span style="margin: 22px;">+15.03%</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>
<div class="main-content my-3 shadow">
    <div class="w-100 pt-0 pb-2 row d-flex justify-content-between">
        <div class="w-100 pt-4 pb-2 row d-flex justify-content-between">

                <!-- Button for Dish Catalogue -->
             <div class="button-table col-md-3">
                <h6 class="dish-catalog" [class.active]="activeButton === 'button1'" (click)="setActiveButton('button1')">Dish Catalogue (5)</h6>
                <p class="line1" [style.width]="activeButton === 'button1' ? '150px' : '0'"></p>
            </div>
            
            <!-- Button for Side Dish Catalogue -->
            <div class="button-table col-md-3">
                <h6 class="dish-catalog" [class.active]="activeButton === 'button2'" (click)="setActiveButton('button2')">Side Dish Catalogue (3)</h6>
                <p class="line" [style.width]="activeButton === 'button2' ? '185px' : '0'"></p>
            </div>

            <div class="w-50  pb-2 row d-flex  d-flex justify-content-end">
                <div class="col-md-6 w-100 position-relative">
                    <div class="input-group position-relative">
                        <input type="search" [(ngModel)]="searchText" class="form-control ms-3 ps-4" placeholder="Search by name">
                    </div>
                </div><br>

                <div class="col-md-6 mt-3">
                    <button id="button1" class="button-on-table btn mb-3" style="margin-left: 15px;" [class.active]="activeButton === 'button1'" (click)="setActiveButton('button1')">Add New Dish</button>
                </div>
            
            </div>
            <!-- Content for Dish Catalogue -->
            <ng-container *ngIf="activeButton === 'button1'">

                <!-- Your existing table code for Dish Catalogue goes here -->
                <div class="table-content  table-responsive w-100 col-md-12 col-sm-12 text-center">
                    <table class="table table-hover"  style="background-color: #F8F9F8 !important;">

                        <!-- Your table content goes here -->
                        <!-- <div class="table-content  table-responsive w-100 col-md-12   text-center"> -->
                            
                                <thead>
                                    <tr style="font-size: 16px;">
                                        <th scope="col">Image:</th>
                                        <th scope="col">Title:</th>
                                        <th scope="col">Category:</th>
                                        <th scope="col">Spice level:</th>
                                        <th scope="col">Available:</th>
                                        <!-- <th scope="col">quantity</th> -->
                                        <th scope="col">Total sold:</th>
                                        <th scope="col">Price:</th>
                                        <th scope="col"></th>
                                    </tr>
                    
                                </thead>
                                <tbody style="border: #9EE392 solid 1px;">
                                    <!-- <div *ngIf="isLoading" class="text-center"><i class="fa fas fa-spinner"></i></div> -->

                                    <!-- <tr *ngFor="let meal of meals | filter:searchText" class="align-items-center"> -->
                                    <tr *ngFor="let meal of meals | filter:searchText" class="align-items-center" style="border: #9EE392 solid 1px;">
                    
                                        <!-- <td><img  style="width: 94px; height: 78px;" [src]="'https://www.bl-hana.somee.com/' + meal.getMealOptionsRequest[0].image" alt="Meal Image"></td> -->
                                        <td> <img [src]="meal.selectedImage" style="width: 94px; height: 78px;" alt="Meal Image">
                                        </td>
                                        <td>{{ meal.title}}</td>
                                        <td>{{ meal.category }}</td>
                                        <td>{{ meal.spiceLevel }}</td>
                                        <td>{{ meal.isAvailable }}</td>
                                        <!-- <td>{{ meal.availableQuantity }}</td> -->
                                        <!-- <td>{{ meal.getMealOptionsRequest[0].mealSizeOption }}</td> -->
                    
                                        <td>{{ totalSold}}</td>
                                        <td style="color: #31AC18;">
                                            <!-- <div *ngIf="meal.selectedSize === undefined"> -->
                                            <!-- <div *ngIf="meal.selectedSize === undefined"> -->
                                            <div *ngIf="meal.selectedSize === undefined ">
                    
                                                {{ meal.GetMealOptionsTable[0].price }} EG
                                                <!-- {{ meal.price }} EG  -->
                                                <!-- {{ meal.getMealOptionsTable[0].price }} EG<br> -->
                                                <!-- {{ meal.getMealOptionsTable[0].price }} EG   Display default price if size is not selected -->
                    
                                            </div>
                                            <!--   <span>{{ meal.price }}</span> EG<br> -->
                                            <!-- {{ meal.getMealOptionsRequest[0].price}} <span> EG</span><br> -->
                                            <div *ngIf="meal.selectedSize !== undefined">
                                                <!-- Display selected size and its corresponding price -->
                                                {{ meal.price }} EG
                                                <!-- Selected Size: {{ meal.getMealOptionsRequest[meal.selectedSize].mealSizeOption }}<br> -->
                                                <!-- {{ meal.getMealOptionsRequest[meal.selectedSize].price}} <span> EG</span> -->
                                                <!-- {{ meal.GetMealOptionsTable[meal.selectedSize]?.price }} EG<br> -->
                                                <!-- {{ meal.getMealOptionsRequest[meal.selectedSize].price }} EG -->
                                                <!-- {{ meal.getMealOptionsTable[meal.selectedSize].price }} EG   Display price based on selected size -->
                                                <!-- {{ meal.price }} EG Display price based on selected size -->
                    
                    
                                            </div>
                                            <!-- <div class="dots d-flex justify-content-end me-4" >
                                                <i><img src="../assets/svg images/3dots.svg" width="15px" height="15px" alt=""></i>
                                            </div>                                 -->
                    
                    
                                            <!-- <span *ngIf="isSizeAvailable(meal, meal.selectedSize)">
                                                Available
                                            </span>  -->
                                            <!-- <span *ngIf="!isSizeAvailable(meal, meal.selectedSize)">
                                                Not Available
                                            </span> -->
                    
                                            <!-- Available Quantity: {{ meal.availableQuantity }} -->
                                            <div class="d-flex justify-content-center align-items-center">
                                                <button (click)="selectSize(meal, 0)" [disabled]="!isSizeAvailable(meal, 0)"
                                                    class="btn m-1 btn-sm btn-outline border-1 color-button">Small </button>
                                                <button (click)="selectSize(meal, 1)" [disabled]="!isSizeAvailable(meal, 1)"
                                                    class="btn m-1 btn-sm btn-outline border-1 color-button">Medium</button>
                                                <button (click)="selectSize(meal, 2)" [disabled]="!isSizeAvailable(meal, 2)"
                                                    class="btn m-1 btn-sm btn-outline border-1 color-button">Large</button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="container" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
                                                <div class="dots d-flex justify-content-start me-4">
                                                    <i><img src="../assets/svg images/3dots.svg" width="15px" height="15px" alt=""></i>
                                                </div>
                                                <div style="position: absolute; left: -130px;" class="dropdown-content">
                                                    <a class="d-flex justify-content-between " (click)="redirectToMeal(meal)"><span>View</span> <img src="../assets/svg images/Eye.svg" alt=""></a><div class="dropdown-line"></div>
                                                    <a class="d-flex justify-content-between " ><span>Edit</span> <img src="../assets/svg images/Icon Frame.svg" alt=""></a><div class="dropdown-line"></div>
                                                    <a class="d-flex justify-content-between " (click)="openConfirmMealDeleteDialog(meal)"><span>Delete</span> <img src="../assets/svg images/delete.svg" alt=""></a><div class="dropdown-line"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>                  
                                </tbody>
                         <!-- </div> -->
                    </table>
                </div>
            </ng-container>
            <!-- Content for Side Dish Catalogue -->
            <ng-container *ngIf="activeButton === 'button2'">

                <div class="table-content table-responsive w-100 col-md-12 col-sm-12 text-center" style="text-align: center; margin: auto;">
                    <!-- Your side dish catalogue table goes here -->

                    <h1>Not found data</h1> 
                                       <!-- <div *ngIf="isLoading" class="text-center"><i class="fa fas fa-spinner"></i></div> -->

                </div>
            </ng-container>
        </div>
        <!-- Search and Add New Dish Section -->
     
    </div>
    <!-- Table content -->
    <!-- Move your table content inside ng-container to ensure it's only displayed when the respective button is active -->
    
</div>

