.top-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 863px;
    top: 9px;
}
.today{
    right: 100px;
    position: relative;
    left: 107px;
}
.three-card {
    margin-top: 20px;
}

.button-table {
    margin-bottom: 20px;
}

.div-wither {
    width: 327px;
    height: 145px;
    margin-right: 24px;
    border-radius: 10px;
    position: relative;
    box-shadow: 1px 1px 9.6px 0px #31AC1833;

}
.div-wither:hover{
    background-color: #EAF7E8;
}


.top-content{
    top: 20px;
     justify-content: center;
    position: relative;
    align-items: center;
    left: 44px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
                
}
 
.contain-card-info{
    position: absolute;
}
.div-content-center{
    display: flex;


}
.two-button .button-table{
    width: 30%;
 font-family: Roboto;
font-size: 18px;
font-weight: 500;
line-height: 27px;
text-align: left;

}
.button-table{
    top: 23px;
    left: 200px;
    }
.content-card{
  top: -20px;
  position: absolute;
  left: 60px;
  justify-content: space-evenly;
  align-items: center;
}
.contain-card-info .Strawberry{
    display: inline-block;
    position: relative;
    left: 60px;
    top: -56px;

}
.content-card div{
    justify-content: center;
    align-items: center;
}

.line1{
    background-color: #31AC18;
    height: 3px;
    width: 150px;
    margin-left: 32px;
    
    transition: width 0.3s;

}


.line{
    background-color: #31AC18;
    height: 3px;

    left: 20px;
    position: relative;
    margin-left: 10px;
    transition: width 0.3s;
}

 .input-group {
    position: relative; 
}   
 .input-group::before {
    content: "";

    background-image: url('../../../../assets/svg images/search-normal.svg');
    background-size: 20px;  
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;  
    top: 50%;  
    transform: translateY(-50%);  
    width: 20px;  
    height: 20px;  
    cursor: pointer;  
    z-index: 999999999; 
}

.input-group input{
    left: -1px !important;
    position: relative;
    padding-left: 31px !important;}


.main-content{
    width: 1024px;
    top: 275px;
    left: 384px;
    border-radius: 10px;
}
.main-content .dish-catalog{
    width: 150px;
    height: 27px;
    top: 23px;
    left: 30px; 
    color: black;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    top: 0px;
    position: relative;
    width: 150%;

}

 .table-data{
    height: 112px;
 }

.table-data{
    border-top: #9EE392;
    border-bottom: #9EE392;
    overflow: inherit;
}

.table-data img{
    width: 93.26px;
    height: 78px;
    left: 47px;
    border-radius: 9.56px;
}

.color-button{
    border: 0.67px solid #31AC18;
    border-radius: 6.67px;

}
.color-button:hover {
    background-color: #9EE392;
}


table thead tr th{
    color: #322F2F;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    
}



.button-on-table{
    width:  152px;
    height:40px;
    top: 91px;
    right: 200px;
    left: 44px;
    padding: 8px, 20px, 8px, 20px; 
    border-radius: 10px;
    margin-top: -10px; 
    background-color:#31AC18;
    color: #F8F9F8;

    position: relative;
    left: -747px;
    top: 9px;
}


.table tbody tr td {
    vertical-align: middle;
}
.table-content{
    width: 1024px;
    height: 735px;
    top: 275px;
    left: 384px;
    border-radius: 10px;
    background-color: #FDFFFC;

    padding-left: 0px;
    padding-right: 0px;
}
.disabled-button{
    background-color: #656565 !important;
    color: white;
    cursor: not-allowed; 
    border: none;
}


.content-page{
    box-sizing: border-box;
background-color: #FDFFFC;

}
 
.table-data button img{
    width: 4px; height: 20px; rotate: (90deg);display: flex;
}


.icon-with-name >img{
    width: 24px;
    height: 24px;
}

.frame1{
    
    cursor: pointer;
    width:  112px;
    height:  82px;
    top: 10px;
    left: 11px;
    margin: 5px;
}
/* .dots-button{
    border-bottom:solid 0.25px #989696 ;
    width: 111px;
    margin-right: 62px;
    top: 37px;
    text-align: start;
} */

.frame1 span{
    width: 33px;
    height: 24px;
    font-family: 'Roboto';
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 11px;
    
}



.frame1 .sm-img{
    width: 16px;
    height: 16px;
    right: 12px;
    margin-top: 14px;

}


.container {
    position: relative;
    display: inline-block;

}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: -43px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #EAF7E8;
    
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.container:hover .dropdown-content {
    display: block;
}

.dropdown-line{
    width: 134px;
     background-color:
      #989696; 
      border: 0.25px; 
      height: 1px;
       top: 0;
       opacity: 0.4;
}

 

#btn-size{
    background-color: yellow !important;
}
 .color-button-one{
    margin-right: 12px !important;
    width: 70px !important;
    padding: 5px !important;
    border: 0.67px solid #31AC18;
    border-radius: 6.67px;
 }
.color-button-two{
    margin-right: 12px !important;
    width: 70px !important;
    padding: 5px !important;
    border: 0.67px solid #31AC18;
    border-radius: 6.67px;
 }
.color-button-three{
    margin-right: 12px !important;
    width: 70px !important;
    padding: 5px !important;
    border: 0.67px solid #31AC18;
    border-radius: 6.67px;
 }

 .color-button-one:hover , .color-button-two:hover ,  .color-button-three:hover{
    background-color: #9EE392;
}


@media screen and (max-width:500px) {
    .logo{
        width: 100%;
        /* display: flex; */
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .side-bar{
        width: 100%;
        display: flex;
        overflow-x: hidden;
        text-align: center;
        justify-content: space-evenly;
        align-content: center;
    }
 .input-group{
    padding: 10px;
    border: 10px;
 }   
}

@media screen and (max-width:500px) {
    .terms-conditions{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .div-wither {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         margin-top: 10px;
    }
    /* for test */
    .top-content{
         display: flex;
        flex-direction: column;
        position: absolute;
        text-align: center;
        justify-content: end;
        text-align: center;
        /* background-color: tan; */
        left: 120px;
        top: 30px;
        width: auto;
    }
    
    .button-table {

        margin-top: 0px;
    }

      table  thead{
             font-family: Roboto;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;
    }
    .input-group{
        margin-top: -27px;
        left: 0px;
        padding-left: 1px;
        padding-right: 0;
        }
        .input-group::before {
            content: "";
        
            background-image: url('../../../../assets/svg images/search-normal.svg');
            background-size: 20px;  
            background-repeat: no-repeat;
            position: absolute;
            left: 20px;  
            top: 50%;  
            
            margin-right:  20px;
            transform: translateY(-50%);  
            width: 20px;  
            height: 20px;  
            cursor: pointer;  
            z-index: 1; 
        }

#icon-place {
    /* position: relative !important;
    top: -31px !important;
    left: 496px !important; */
 
    /* position: relative;
  top: -31px !important;
  left: 263px !important;
  width: 20px !important;
  overflow: hidden; */

  position: relative;
  top: -31px !important;
  width: 20px;
  right: -262px !important;
  overflow: hidden;
}
}
@media screen and (max-width:500px) {
    .side-bar{
        width: 100%;
        height: 100%;
    }
}
