<div class="container">
    <div class="container p-5 ">
        <div class="row">
            <div class="col-md-6 align-items-center align-self-center">
                <h4 class="fw-bold">Add a New Dish</h4>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-success px-4">Exit</button>
                </div>
            </div>
        </div>
    </div>
    <mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!" [linear]="true"
        labelPosition="bottom">
        <mat-step [optional]="false" [completed]="isMealAdded" label="Dish Profile" state="dish">
            <ng-template matStepContent>
                <form [formGroup]="addMealForm" (ngSubmit)="mealForm()">
                    <div class="py-5 container">
                        <div class="row row-cols-1 row-cols-md-2 row align-items-center">
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-xl-8 col-lg-10 col-md-12 col-sm-10">
                                        <app-input class="mb-2" [control]="title" type="text"
                                            label="Dish Title"></app-input>
                                        <app-select-input class="mb-2" [control]="category" type="text"
                                            placeholder="Category" label="Category"
                                            [options]="categoryOptions"></app-select-input>
                                        <app-select-input class="mb-2" [control]="spiceLevel" type="text"
                                            placeholder="Spice Level" label="Spice Level"
                                            [options]="spiceLevelOptions"></app-select-input>
                                        <app-select-input class="mb-2" [control]="style" type="text"
                                            placeholder="Dish Style" label="Dish Style"
                                            [options]="styleOptions"></app-select-input>
                                        <app-chips-auto-complete-input class="mb-2" [SelectedOptions]="selectedTags"
                                            [control]="tags" type="text" label="Tags"
                                            [options]="tagsOptions"></app-chips-auto-complete-input>
                                        <mat-form-field style="width: 100%;" appearance="outline">
                                            <mat-label>Description</mat-label>
                                            <textarea [formControl]="description" matInput #message maxlength="256"
                                                placeholder="Ex. I need help with..."></textarea>
                                            <mat-hint align="start"><strong>Don't disclose personal info</strong>
                                            </mat-hint>
                                            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="flex-box">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="mt-5 pb-3">
                        <div class=" text-center justify-content-center mb-3">
                            <button type="submit" class="btn btn-success" matStepperNext *ngIf="!isMealAdded">Add
                                Meal</button>
                            <button type="submit" class="btn btn-success" matStepperNext *ngIf="isMealAdded">Edit
                                Meal</button>
                        </div>
                    </section>
                </form>

            </ng-template>
        </mat-step>
        <mat-step [stepControl]="addMealOptionForm" label="Dish Options" state="dish-option">
            <ng-template matStepContent>
                <form [formGroup]="addMealOptionForm" (ngSubmit)="mealOptionForm()">
                    <div class="py-5 container">
                        <div class=" row ">
                            <div class="col-md-7 col-sm-12">
                                <div class="row justify-content-center">
                                    <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
                                        <div class="d-flex justify-content-between">
                                            <input [formControl]="mealSize" [value]="0" type="radio" class="btn-check"
                                                name="meal-size" id="small" #small autocomplete="off" checked>
                                            <label class="btn btn-outline-success" for="small" id="btn-S">S</label>

                                            <input [formControl]="mealSize" [value]="1" type="radio" class="btn-check"
                                                name="meal-size" id="medium" #medium autocomplete="off">
                                            <label class="btn btn-outline-success" for="medium" id="btn-m">M</label>

                                            <input [formControl]="mealSize" [value]="2" type="radio" class="btn-check"
                                                name="meal-size" id="large" #large autocomplete="off">
                                            <label class="btn btn-outline-success" for="large" id="btn-L">L</label>
                                        </div>
                                        <app-input class="me-1 mt-5" [control]="price" placeholder="Enter The Price"
                                            type="number" format="9999" label="Price"></app-input>

                                        <div class="row justify-content-center">
                                            <div class="col">
                                                <div class="d-flex justify-content-between">
                                                    <h3 style="width: 50%;">Available?</h3>
                                                    <h3 class="ms-4" style="width: 50%;">Save QTY?</h3>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="d-flex justify-content-between">
                                                    <input class="me-1 my-5" [formControl]="saveQuantitySetting"
                                                        [value]="true" type="radio" class="btn-check"
                                                        name="save-quantity-setting" id="save-quantity-setting"
                                                        autocomplete="off">
                                                    <label class="btn btn-outline-success" for="save-quantity-setting"
                                                        id="btn-y">Yes</label>

                                                    <input [formControl]="saveQuantitySetting" [value]="false"
                                                        type="radio" class="btn-check" name="save-quantity-setting"
                                                        id="not-save-quantity-setting" autocomplete="off">
                                                    <label class="btn btn-outline-success mx-2"
                                                        for="not-save-quantity-setting" id="btn-n">No</label>

                                                    <input class="me-1" [formControl]="isAvailable"
                                                        (click)="toggleQuantityInput(true)" [value]="true" type="radio"
                                                        class="btn-check" name="is-available" id="available"
                                                        autocomplete="off">
                                                    <label class="btn btn-outline-success mx-2" for="available"
                                                        id="btn-yy">Yes</label>

                                                    <input [formControl]="isAvailable"
                                                        (click)="toggleQuantityInput(false)" [value]="false"
                                                        type="radio" class="btn-check" name="is-available"
                                                        id="not-available" autocomplete="off">
                                                    <label class="btn btn-outline-success " for="not-available"
                                                        id="btn-nn">No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-5 my-5">
                                            <app-input class="me-1 mt-5 my-5" class="me-1" [control]="quantity"
                                                type="number" format="999" label="Quantity (if Yes)"></app-input>
                                        </div>

                                        <app-file-input [control]="image"></app-file-input>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-5 col-sm-12">
                                <h3>Tips</h3>
                                <div class="d-flex align-items-start">
                                    <div class="flex-box">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section class="mt-5 pb-3">
                            <div class="text-center justify-content-center mb-3">
                                <button type="submit" class="btn btn-success" matStepperNext
                                    *ngIf="!isMealAdded">{{AddOrEdit}} Meal Option</button>
                                <button type="submit" class="btn btn-success" matStepperNext
                                    *ngIf="isMealAdded">Save</button>
                            </div>
                        </section>
                    </div>
                    <div>
                        <button mat-button matStepperNext>{{AddOrEdit}} Meal Option</button>
                        <button mat-button matStepperPrevious>Back</button>
                    </div>
                </form>
            </ng-template>
        </mat-step>
    </mat-stepper>
</div>