.mat-horizontal-stepper-header-container{
  margin-left: 25rem !important;
  margin-right: 25rem !important;
}

.transparent .mat-mdc-dialog-container {
  --mdc-dialog-container-color: .transparent;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-color: .transparent;
}

.transparent {
  background: transparent !important;
  box-shadow: none !important;
}

.transparent .mat-mdc-dialog-surface {
  box-shadow: none !important;
}

/* ::ng-deep .custom-dialog > mat-dialog-container {
    background-color: transparent;
  } */

/* .mdc-dialog__surface{
    background-color: transparent !important;
    box-shadow: none !important;
  } */
.mat-mdc-dialog-surface .mdc-dialog__surface{
  background-color: transparent !important;
  box-shadow: none !important;
}

.mat-mdc-dialog-surface.mdc-dialog__surface{
  background-color: transparent !important;
  box-shadow: none !important;
}

.mat-mdc-dialog-surface{
  background-color: transparent !important;
  box-shadow: none !important;
}
.mdc-dialog__surface{
  background-color: transparent !important;
  box-shadow: none !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface{
  background-color: transparent !important;
  box-shadow: none !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent !important;
  box-shadow: none !important;
  }
.line {
  height: 3px;
  width: 50%;
  background-color: #5ABB47;
}

.flex-box {
  background-color: #D5F5E3;
  width: 30rem;
  height: 500px;
  border-radius: 5px;
}

button {
  width: 25%;
}

#btn-S{
  width: 80px;
  height: 64px;
  line-height: 50px;
  font-family: 'Roboto';
  font-size: 18px;
}

#btn-m{
  width: 80px;
  height: 64px;
  line-height: 50px;
  font-family: 'Roboto';
  font-size: 18px;
}

#btn-L{
  width: 80px;
  height: 64px;
  line-height: 50px;
  font-family: 'Roboto';
  font-size: 18px;
}


#btn-y{
  width: 80px;
  height: 64px;
  line-height: 50px;
  font-family: 'Roboto';
  font-size: 18px;
}

#btn-n{
  width: 80px;
  height: 64px;
  line-height: 50px;
  font-family: 'Roboto';
  font-size: 18px;
}

#btn-yy{
  width: 80px;
  height: 64px;
  line-height: 50px;
  font-family: 'Roboto';
  font-size: 18px;
}

#btn-nn{
  width: 80px;
  height: 64px;
  line-height: 50px;
  font-family: 'Roboto';
  font-size: 18px;
}

h3{
  font-family: 'Roboto';
  font-size: 20px;
}


