.headline {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
}
::ng-deep .mat-icon{
    position: absolute;
  left: 12px;
  top: 14px;
}
i {
    font-size: 1.5rem;
    padding-right: 0.1rem;
    color: rgba(250, 130, 50, 1);
}
.filled {
    color: rgba(250, 130, 50, 1);
}
.low {
    color: rgba(250, 130, 50, 1);
}
.filled.low {
    color: rgba(250, 130, 50, 1);
}
.btn-green{
    background: rgba(42, 145, 21, 1);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border-style: none;
    width: 100%;
    aspect-ratio: 424 / 51;
}