.btn-green{
    background: rgba(42, 145, 21, 1);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border-style: none;
    width: 40%;
    aspect-ratio: 424 / 51;
    min-width: 150px;
    min-height: 40px;
}